/example/TryTip/build/
/example/TryTip/dist/
/example/TryTip/nbproject/private
/example/project/TryTip/build/
/example/project/TryTip/dist/
/example/project/TryTip/nbproject/private/
/example/project/JaBUTiInstances/nbproject/private/